
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPS Results</title>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>

    <h1>the result is <%= @comparison %></h1>

    <a href="/welcome">Welcome (and rules)</a>

  </body>
</html>
