<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body class=welcome>
    <h1>Welcome to my Rock, Paper, Scissors Game!</h1>
    <h2>Rules of the game</h2>
    <p>Rock beats Sissors</p>
    <p>Paper beats Rock</p>
    <p>Scissors beats Paper</p>

  </body>
</html>
